/* Colour pairings */

.primary {
  background: rgba(var(--primary), 1);
  color: rgba(var(--onprimary), 1);
}

.secondary {
  background: rgba(var(--secondary), 1);
  color: rgba(var(--onsecondary), 1);
}

.tertiary {
  background: rgba(var(--tertiary), 1);
  color: rgba(var(--ontertiary), 1);
}

.back-one {
  padding: 1rem;
  background: #f5f4f5;
  color: rgba(var(--onsecondary), 1);
}

.back-two {
  padding: 1rem;
  background: #e4e3e4;
  color: #000000;
}

.page {
  background: rgba(var(--page), 1);
  color: rgba(var(--onpage), 1);
}

.banner {
  background: rgba(var(--detail), 1);
  color: rgba(var(--onpage), 1);
}

/* Apply everywhere */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; /* Padding and border don't make a box bigger */
}

/* Ribbon css */

.box {
  width: 200px;
  height: 300px;
  position: relative;
  border: 1px solid #bbb;
  background: #eee;
}
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-transform: auto; /*changed this from uppercase*/
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#000 0%, #000 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

/* Ribbon css ends */

html,
body {
  width: 100%;
  margin: 0rem auto;
  background: rgba(var(--page), 1);
  color: rgba(var(--onpage), 1);
  font: var(--body-font);
  /*min-height: 100vh;*/ /* Make the content fill the page so the footer is at the bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* add a background image to body */

body {
  /*background-image: url('name.jpg');*/ /* Uncomment and change filename to add a background image */
  /*background-repeat: repeat;*/ /* Make the image repeat */
  /*background-size: cover;*/ /* Make the image cover the whole container */
  -webkit-print-color-adjust: exact !important;
  counter-reset: number;
}

/* The main content of the page between the header and footer */
main {
  background: rgba(var(--primary), 1); /* Colour the background */
  color: rgba(var(--onprimary), 1); /* Colour the text */
  margin: 0 auto; /* Center if the browser is really wide */
  padding: 0;
  /*margin-bottom: 1em;*/ /* Gap before the footer */
}

/* Header and footer element styles */

header,
footer {
  text-align: center;
  width: 100%; /* Fill the full width of the window */
  margin: 0; /* Remove the default margin */
  min-height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Section styles */

section {
  padding: 0rem 0rem;
  /*margin: 1rem auto;*/
}

.item-number::before {
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  font-weight: bold;
  color: var(--onpage);
  border-radius: 50%;
  padding: 0.25rem;
  background: rgba(var(--primary), 0.15);
  border: 0.2rem solid rgba(var(--primary), 1);
  text-align: center;
}

/* Border styles */

.border-bottom {
  border-bottom: 20px solid;
  background: rgba(var(--detail), 1); /* Add a solid */
}

.border-top {
  border-top: 10px solid;
  background: rgba(var(--detail2), 1); /* Add a solid line above the footer */
}

/* Add a transparent effect */

.transparent {
  opacity: 0.95;
}

/* Styles just for h1 elements */

h1 {
  font: var(--header-font); /* Font style stored in the header-font variable */
  padding: 1.6rem;
  margin: 0; /* Center if the browser is really wide */
}

/* Styles just for h2 elements */

h2 {
  font: var(--title-font); /* Font style stored in the title-font variable */
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.2rem;
  font-weight: bold;
  text-align: center;
}

h4 {
}

/* Highlight key words in bold and apply an alternative text colour */

strong {
  color: rgba(
    var(--detail2),
    1
  ); /* Text colour stored in the caption variable */
  font: var(--highlight-font);
}

.extra {
  color: rgba(
    var(--primary),
    1
  ); /* Text colour stored in the caption variable */
  font: var(--highlight-font);
}

/* Style for ordered and unordered lists */

ol,
ul {
  display: inline-block;
  text-align: left;
  padding-left: 2rem;
}

/* Padding around paragraphs */

p {
  padding: 0.25rem 0.5rem;
  line-height: 1.4rem;
}

/* Style for links */

a:link,
a:visited {
  font-weight: bold;
  color: inherit; /* Use the colour of the parent element */
}

.xcenter {
  text-align: center;
}

.ycenter {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.adjust {
  display: inline-block;
  margin-top: 1rem;
}

.material-symbols-outlined {
  vertical-align: bottom;
}

/* Styles just for the .wrap class */

.wrap {
  /* Make content wrap over mutiple rows */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 0.6rem 0.6rem; /* horizontal and vertical gap */
}

/* For creating fancy boxes */

.dashed-border {
  border: 0.2rem dashed rgba(var(--primary), 1);
}

.solid-border {
  border: 0.25rem solid rgba(var(--primary), 1);
}

/* Styles for the div tags that are inside a .wrap class */

/*.wrap > div {
  width: 14rem;
  padding: 0.3rem;
}*/

/* Styles for the img tags that are inside a .wrap class */

.wrap > img {
  width: 14rem;
  display: block;
}

/* Styles for the p tags that are inside a .wrap class */

.wrap > p,
.wrap > span {
  width: 14rem;
  display: block;
}

/* Specific styles for this project */

.bigfont {
  font-size: 3rem;
}

.hugefont {
  /* Used to make a large emoji */
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
}

.wrap .narrow {
  width: 10rem;
}

.wrap .wide {
  width: 22rem;
}

.wrap .medium {
  width: 18rem;
}

.wrap .sidebyside {
  width: 14rem;
}

.wrap .wider {
  width: 30rem;
}

.wrap .widest {
  width: 35rem;
}

.wrap .full {
  width: 49rem;
}

blockquote {
  font: var(--quote-font);
  color: rgba(var(--detail), 1);
  text-align: center;
  padding: 0rem;
  max-width: 25rem;
}

cite {
  color: rgba(var(--detail), 1);
  font-size: small;
}

/* Specific styles for this project */

.tile {
  height: 6rem;
}

.large-tile {
  height: 7rem;
}

.rounded {
  border-radius: 0.7rem;
}

.gradient1 {
  background-image: linear-gradient(
    to bottom right,
    rgba(var(--secondary), 1),
    rgba(var(--detail), 1)
  );
  color: var(--onsecondary);
}

.gradient2 {
  background-image: linear-gradient(
    to top right,
    rgba(var(--tertiary), 1),
    rgba(var(--detail2), 1)
  );
  color: rgba(var(--ontertiary), 1);
}

.shadow {
  box-shadow: 5px 5px 3px 0px #888888; /* right and bottom shadow size, blur, spread and colour */
  /*box-shadow: 5px 5px 4px 2px var(--detail);*/
}

.wrap .card {
  width: 14.5rem;
  height: 12rem;
  border: 0.1rem solid transparent;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 60rem;
}

.card-centre {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.card-centre > strong {
  color: white;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card p {
  padding: 0.5rem;
}

/* To make a code window */

.code-icons {
  color: rgb(117, 115, 115);
}

.code-dot {
  height: 12px;
  width: 12px;
  background-color: rgb(155, 153, 153);
  border-radius: 20%;
  display: inline-block;
}

.code-play {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 12px solid rgb(155, 153, 153);
  border-bottom: 6px solid transparent;
  display: inline-block;
}

.code-container {
  background: #d8d6d6;
  border: 3px solid #d8d6d6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 6px 6px 8px 2px #888888; /* right and bottom shadow, blur, spread and colour */
}

.code-top {
  margin: 0rem;
  padding: 5px;
  background: #d8d6d6;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.code-content {
  padding: 0.3rem;
}

/* To make a debug window */

.debug-container, .instructions-container {
  background: rgba(var(--primary), 1);
  border: 3px solid rgba(var(--primary), 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-self: flex-start;
  /*box-shadow: 6px 6px 8px 2px #888888; /* right and bottom shadow, blur, spread and colour */
}

.debug-top, .instructions-top {
  padding: 0.3rem;
  background: rgba(var(--primary), 1);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.debug-content, .instructions-content {
  padding: 0.3rem;
  background: white;
}

/* Printed photo style */

.photo-right {
  border: 1px solid #d0d0d0; /* Add a solid border */
  width: 13rem;
  height: 13rem;
  background: #ffffff;
  margin: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  box-shadow: 8px 8px 10px 4px #888888; /* right and bottom shadow, blur, spread and colour */
  transform: rotate(3deg);
}

.photo-left {
  border: 1px solid #d0d0d0; /* Add a solid border */
  width: 13rem;
  height: 13rem;
  background: #ffffff;
  margin: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  box-shadow: 8px 8px 10px 4px #888888; /* right and bottom shadow, blur, spread and colour */
  transform: rotate(-3deg);
}

/*.photo:hover {
  transform: rotate(-3deg);
}*/

.hugefont:hover {
  transform: scale(1.2);
}

.wrap .logo {
  height: 17mm;
  width: auto;
}

.example {
  width: 16rem;
  padding: 0.5rem;
}

.inline-center,
.inline-center2 {
  display: inline-block;
  text-align: left;
  padding-left: 0.25rem;
  width: 15rem;
  border: 0.25rem solid #dcdcdc;
  border-radius: 0.75rem;
}

.inline-center {
  margin-left: 3rem;
}

.inline-center2 {
  margin-left: 1rem;
}

.inline-center::before,
.inline-center2::before {
  content: '🔒';
  background: #dcdcdc;
  border: 0.33rem solid #dcdcdc;
  margin-left: -0.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

/* Two column layout */

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0px;
}

.scratchblocks {
  font-weight: heavy;
  padding: 0.03rem;
}

.anchor {
  position: absolute;
  bottom: 0px;
}

.code {
  background: rgb(255, 255, 255);
  border-radius: 1rem 1rem;
  padding: 5px 0px;
}

.test {
  background: Lavender;
}

.test {
  padding: 0px 0px;
}

.need {
  background: LightCyan;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  padding: 5px 0px;
}

.debug-container li:before {
  content: '\01F9E9';
  margin-left: -20px;
  margin-right: 10px;
}

.pink {
  background: magenta;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.grey {
  background: gray;
}

.led {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 1rem;
  height: 1.5rem;
  display: inline-block;
}

.led-small {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  width: 0.75rem;
  height: 1rem;
  display: inline-block;
}

.off {
  border: solid 1px;
  border-color: dimgray;
}

.leds {
  margin-top: 1rem;
}

.half_led {
  border-top-left-radius: 1rem;
  width: 0.5rem;
  height: 1.5rem;
  display: inline-block;
}

.push_button {
  border-radius: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.2rem;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.buzzer {
  border-radius: 0.7rem;
  border-color: black;
  border: solid 0.5rem;
  background: gray;
  padding: 0rem;
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
}
