/* Set up colour palette and fonts using variables */

:root {
  --primary: 15, 174, 176;
  --onprimary: 255, 255, 255;
  --secondary: 255, 255, 255;
  --onsecondary: 0, 0, 0;
  --tertiary: 116, 116, 116;
  --ontertiary: 255, 255, 255;
  --page: 255, 255, 255;
  --onpage: 0, 0, 0;
  --detail: 15, 174, 176;
  --detail2: 0, 0, 0;
c
  --body-font: lighter 1.2rem 'Roboto Flex', sans-serif;
  --header-font: lighter 3rem 'Roboto Flex', sans-serif;
  --title-font: lighter 2rem 'Roboto Flex', sans-serif;
  --quote-font: lighter 1.5rem 'Roboto Flex', sans-serif;
  --highlight-font: bolder 1rem 'Roboto Flex', sans-serif;
}